<div class="wrap">
  <p id="notice"><%= notice %></p>
  <div class="container">
    <h1>ショッピングカート</h1>
    <% @carts.each do |cart| %>
      <div class="box">
        <div class="inner row">
          <div class="col-xs-6 col-sm-6"><%= image_tag cart.product.img %></div>
          <div class="col-xs-6 col-sm-6">
            <h2><%= cart.product.name %></h2>
            <div class="count">数量：<%= cart.count %></div>
            <div class="btn"><%= link_to '数量変更', edit_cart_path(cart) %></div>
            <div class="btn"><%= link_to '商品削除', cart, method: :delete, data: { confirm: '本当にいいの?' } %></div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
