<p id="notice"><%= notice %></p>

<h1>ショッピングカート</h1>

<table>
  <thead>
    <tr>
      <th>Product</th>
      <th>Count</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @carts.each do |cart| %>
        <tr>
          <td><%= cart.product.name %></td>
          <td><%= cart.count %></td>
          <td><%= link_to '見る', cart %></td>
          <td><%= link_to '編集', edit_cart_path(cart) %></td>
          <td><%= link_to '削除', cart, method: :delete, data: { confirm: '本当にいいの?' } %></td>
        </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cart', new_cart_path %>
