<div class="wrap">
  <div class="container">
    <p id="notice"><%= notice %></p>
    <div class="row">
      <div class="col-xs-6 col-sm-6"><%= image_tag @product.img %></div>
      <div class="col-xs-6 col-sm-6">
        <h1><%= @product.name %></h1>
        <h2><%= @product.price %>円</h2>
        <p><%= @product.detail %></p>
        <div class="btn"><%= link_to 'カートに追加', carts_path(cart: {count: 1, product_id: @product.id}), method: :post %></div>
      </div>
    </div>
    <div class="btn"><%= link_to '戻る', products_path %></div>
  </div>
</div>
